body {
	background-image: url(https://pp.userapi.com/c836422/v836422092/7156d/FPpTrlkkwBY.jpg)
}

.information {
	background-color: rgba(32, 96, 61, 0.5);
	width: 70%;
	margin: 3% 15% 3% 15%;
	font-family: Comic Sans Ms;
	font-size: 20px;
	
}

h1 {
	font-family:matisse itc;
	font-size: 90px;	
}

.about {
	
	font-size: 23px;
	padding: 60px;
}


.me {
	height:500px;
	margin-left: 40px;
	padding: 10px 10px 10px 10px;
	border: 15px solid #721422;
}

.me2 {
	height:250px;
	border: 3px solid #721422;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 40px;
}

hr {
	border: none;
	color:#721422;
	background-color: #721422;
	height: 5px;
}